.chat-container {
  width: min(100%, 40rem);
  padding-inline: 1.5rem;
  margin-inline: auto;
}

.chat-page {
  --bg-base: #fff;
  --bg-header: #1a1a22;
  --bg-footer: #3798d4;
  --bg-btn: #ff876d;
  --bg-btn-hover: #ff6f4d;
  --bg-message-sender: #fcf6c5;
  --border-base: #d4dade;
  --border-input: #2e77a4;
  --border-radius: 0.25rem;

  --text-on-color: #fff;
  --text-muted: #4a4a4a;
  --text-pale: #b3bcc3;
  --text-danger: #ff4d4d;

  --text-sm: 0.875rem;

  display: flex;
  flex-direction: column;
  height: 100dvh;
}

/* -------------------------------------- */
/* Chat header
/* -------------------------------------- */

.chat-header {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: var(--bg-header);
  color: var(--text-on-color);
}

.chat-header h1 {
  font-size: 1.25rem;
}

.logout-button {
  padding: 0;
  background-color: transparent;
  color: var(--text-on-color);
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.logout-button:hover {
  text-decoration: none;
}

/* -------------------------------------- */
/* Chat message list
/* -------------------------------------- */

.message-list-wrapper {
  flex: 1;
  overflow-y: auto;

  background-image: url(body-bg.png);
  background-position: top left;
  background-repeat: repeat;
}

.message-list {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 1rem;

  /* We add a transparent border here that mimics a bottom padding
  to avoid fighting against it while scroll anchoring; */
  border-bottom: 20px solid transparent;
}

.message-item {
  padding: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-base);
  background-color: var(--bg-base);
  width: max-content;

  max-width: max(15rem, 70%);
}

.message-author,
.message-date {
  color: var(--text-pale);
  font-size: var(--text-sm);
}

.message-item.sender {
  background-color: var(--bg-message-sender);
  align-self: end;
}

@media (min-width: 640px) {
  .message-item {
    max-width: max(26.25rem, 70%);
  }
}

/* -------------------------------------- */
/* Chat footer
/* -------------------------------------- */

.chat-footer {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: var(--bg-footer);
}

.chat-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.chat-text-field {
  display: flex;
  flex: 1;
  height: 3rem;
  background-color: var(--bg-base);
  border: 2px solid var(--border-input);
  border-radius: var(--border-radius);
}

.chat-text-field input {
  width: 100%;
  padding-inline: 0.75rem;
  border: none;
  border-radius: var(--border-radius);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--bg-btn);
  color: var(--text-on-color);
  cursor: pointer;
  transition: background-color 150ms;
}

.button:hover {
  background-color: var(--bg-btn-hover);
}

.chat-submit-button {
  min-width: 5.625rem;
  height: 3rem;
  flex-shrink: 0;
  padding: 0.5rem 1rem;
}

/* -------------------------------------- */
/* Registration form
/* -------------------------------------- */

.register {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register p {
  margin-bottom: 1.5rem;
}

.register-textfield {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 640px) {
  .register-textfield {
    width: 24rem;
  }
}

.register input {
  border: 1px solid var(--border-base);
  border-radius: var(--border-radius);
  padding: 0.5rem 0.75rem;
}

.register-textfield span[slot="description"] {
  font-size: var(--text-sm);
  color: var(--text-muted);
}

.register-textfield span[slot="errorMessage"] {
  font-size: var(--text-sm);
  color: var(--text-danger);
}

.register .error-message {
  font-size: var(--text-sm);
  color: var(--text-danger);
}

.register-submit-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}
